/* You can add global styles to this file, and also import other style files */


:root {
    --light-citron: #BEBA62;
    --light-blue: #C2D3DD;
    --light-gray-1: #7EA4B2;
    --light-gray-2: #52717E;
    --dark-gray-1: #366374;
    --dark-gray-2: #2A4656;
    --dark-gray-3: #152834;
    --dark-golden: #987A0A;
    --dark-black-1: #191F22;
    --dark-black-2: #0C171D;
}



